<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.xiaofeidev.inner">

    <application>
        <activity android:name=".ui.GirlActivity"></activity>
        <activity android:name=".ui.WebActivity" />
    </application>

</manifest>